Datopian - Data Wrangling Challenge (Script)

In [1]:
#Import the required libraries needed for this script
import pandas as pd

In [2]:
def get_data():
    '''
    Read the website with its url into the script
    Method - pd.read_html (reads all the tables in the website and puts them in a list)
    List indexing is used to get the required table
    '''

    df = pd.read_html('https://en.wikipedia.org/wiki/Road_safety_in_Europe')
    data = df[2]

    #Select the required columns from the table, filtering out the ones that won't be used 
    data = data[['Country', 'Area (thousands of km2)[24]', 'Population in 2018[25]', 'GDP per capita in 2018[26]', 'Population density (inhabitants per km2) in 2017[27]', 
             'Vehicle ownership (per thousand inhabitants) in 2016[28]', 'Total Road Deaths in 2018[30]', 'Road deaths per Million Inhabitants in 2018[30]']]

    #Rename the filtered columns to standard names as required.
    data = data.rename(columns={
        'Area (thousands of km2)[24]':'Area',
        'Population in 2018[25]':'Population',
        'GDP per capita in 2018[26]':'GDP per Capita',
        'Population density (inhabitants per km2) in 2017[27]':'Population Density',
        'Vehicle ownership (per thousand inhabitants) in 2016[28]':'Vehicle Ownership',
        'Total Road Deaths in 2018[30]':'Total Road Deaths',
        'Road deaths per Million Inhabitants in 2018[30]':'Road deaths per Million Inhabitants'}) 
    
    #Insert a Year column in the data and populate with a constant value of 2018
    data.insert(1, 'Year', 2018)

    #Sort data using the Road deaths per million inhabitants column, excluding the last row
    #The last row contains EU total for all countries, and should remain at the bottom of the table
    sorted_data = data[0:28].sort_values('Road deaths per Million Inhabitants')

    #Adding the EU total row back to the bottom of the sorted data.
    data = sorted_data.append(data.loc[28])

    #store the resulting dataset in a csv file, and filter out the index, allowing "Country" as first column in resulting csv file.
    data.to_csv('data.csv', index = False)

    return data

In [3]:
#call the function here
get_data()

,Country,Year,Area,Population,GDP per Capita,Population Density,Vehicle Ownership,Total Road Deaths,Road deaths per Million Inhabitants
27,United Kingdom,2018,248.5,6.627358e+07,32400,273,544,1825,28
6,Denmark,2018,42.9,5.781190e+06,47600,137,508,175,30
19,Netherlands,2018,41.5,1.718108e+07,41500,508,543,678,31
13,Ireland,2018,69.8,4.830392e+06,59400,70,525,146,31
26,Sweden,2018,438.6,1.012024e+07,43300,25,542,324,32
18,Malta,2018,0.3,4.757010e+05,21600,1462,726,18,38
25,Spain,2018,506.0,4.665845e+07,25000,93,611,1806,39
10,Germany,2018,357.3,8.279235e+01,35900,237,610,3177,39
8,Finland,2018,338.4,5.513130e+06,36600,18,732,225,43
24,Slovenia,2018,20.3,2.066880e+06,20200,103,587,91,44
0,Austria,2018,83.9,8.822267e+06,38000,107,665,409,45
23,Slovakia,2018,49.0,5.443120e+06,15600,113,455,229,46
9,France,2018,632.8,6.692617e+07,32800,123,590,3265,48
7,Estonia,2018,45.2,1.319133e+06,15100,30,620,67,51
1,Belgium,2018,30.5,1.139859e+07,35300,376,585,590,52
14,Italy,2018,302.1,6.048397e+07,26700,206,707,3310,55
4,Cyprus,2018,9.3,8.642360e+05,23300,128,726,49,57
21,Portugal,2018,92.2,1.029103e+07,17900,112,479,606,59
17,Luxembourg,2018,2.6,6.020050e+05,80800,245,740,36,60
16,Lithuania,2018,65.3,2.808901e+06,13300,45,501,170,61
5,Czechia,2018,78.9,1.061006e+07,17600,137,570,656,62
12,Hungary,2018,93.0,9.778371e+06,12500,108,394,629,64
11,Greece,2018,132.0,1.074116e+07,17800,83,605,690,64
20,Poland,2018,312.7,3.797669e+07,12400,124,672,2862,76
3,Croatia,2018,56.5,4.105493e+06,"11,500†a",74,416,317,77
15,Latvia,2018,64.6,1.934379e+06,12300,31,387,143,78
2,Bulgaria,2018,111.0,7.050034e+06,6500,65,516,611,88
22,Romania,2018,238.4,1.953063e+07,8700,85,329,1867,96
28,EU 28 Total,2018,4463.4,5.123792e+08,28200,121,587,25249,49